[build]
  command = "npm run build"
  publish = "dist"

# Servir les fichiers statiques directement
[[redirects]]
  from = "/images/*"
  to = "/images/:splat"
  status = 200
  force = true

# Rediriger toutes les autres routes vers index.html
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

